.highlight-root {
    padding: 30px;
    background-color: rgb(8, 8, 8);

    .highlight-text {
        color: #fff;
        width: 100%;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
}